<div class="box" *ngIf="loading">
    <button class="btn btn-danger float-sm-start" routerLink="/products">
    Back
  </button>
    <div class="row">
        <div class="col-md-5 col-sm-12">
            <img src="{{ DataID.image }}" alt="Empty" />
        </div>
        <div class="col-md-7 col-sm-12">
            <div class="info">
                <ul class="list-unstyled">
                    <li>
                        <Strong>Title :&#160;</Strong>{{ DataID.title }}</li>
                    <li>
                        <Strong>Categories :&#160;</Strong>{{ DataID.category }}</li>
                    <li>
                        <Strong>Descrption :&#160;</Strong>{{ DataID.description }}</li>
                    <li>
                        <Strong>Rate :&#160;</Strong>{{ DataID.rating.rate }}</li>
                    <li>
                        <Strong>Count :&#160;</Strong>{{ DataID.rating.count }}</li>
                    <li>
                        <Strong>Price :&#160;</Strong>{{ DataID.price }} L.E</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="text-center w-100" *ngIf="!loading">
        <spinner></spinner>
    </div>
</div>
<!-- <div class="page-content">
    <div class="container">
        <div class="serach-area">
            <div class="item-list recent-jobs-list">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <h6 class="item-title">
                                        <a routerLink="/{{ DataID.id }}">{{ DataID.title }}</a>
                                    </h6>
                                    <div class="item-subtitle">Coffe, Milk</div>
                                </div>
                                <div class="item-footer">
                                    <div class="d-flex align-items-center">
                                        <h6 class="me-3">{{ DataID.price }}</h6>
                                        <del class="off-text"><h6>{{ 100 + +DataID.price }}</h6></del
                    >
                  </div>
                  <div class="d-flex align-items-center">
                    <i class="fa-solid fa-star"></i>
                    <h6>{{ DataID.rating.rate }}</h6>
                  </div>
                </div>
              </div>
              <div class="item-media media media-90">
                <img
                  src="{{ DataID.image }}"
                  alt="logo"
                  style="max-height: 100px"
                />
                <a href="javascript:void(0);" class="item-bookmark icon-2">
                  <svg
                    width="24px"
                    height="24px"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M16.785 2.04751C15.9489 2.04694 15.1209 2.21163 14.3486 2.53212C13.5764 2.85261 12.8751 3.32258 12.285 3.91501L12 4.18501L11.73 3.91501C11.1492 3.2681 10.4424 2.74652 9.65306 2.3822C8.86367 2.01787 8.00824 1.81847 7.13912 1.79618C6.27 1.7739 5.40547 1.9292 4.59845 2.25259C3.79143 2.57599 3.05889 3.06066 2.44566 3.67695C1.83243 4.29325 1.35142 5.02819 1.03206 5.83682C0.712696 6.64544 0.561704 7.51073 0.588323 8.37973C0.614942 9.24873 0.818613 10.1032 1.18687 10.8907C1.55513 11.6783 2.08022 12.3824 2.73002 12.96L12 22.2675L21.3075 12.96C22.2015 12.0677 22.8109 10.9304 23.0589 9.6919C23.3068 8.45338 23.1822 7.16915 22.7006 6.00144C22.2191 4.83373 21.4023 3.83492 20.3534 3.13118C19.3045 2.42744 18.0706 2.05034 16.8075 2.04751H16.785Z"
                      fill="white"
                    />
                  </svg>
                </a>
              </div>
            </div>
          </li>
        </ul>
      </div>
</div>
</div>
</div> -->