<!-- <div class="box-mt-5">
    <div class="my-2 w-25">
        <app-select [Data]="Catgories" (Selected)="filter($event)" routerLink="/detail/2" [title]="'Catgories'">
        </app-select>
    </div>

    <div class="row" *ngIf="!loading">
        <div class="col-md-3 col-sm-12" *ngFor="let item of products">
            <app-product [data]="item" (item)="AddToCart($event)"></app-product>

        </div>
    </div>
    <div class="text-center w-100" *ngIf="loading">
        <spinner></spinner>
    </div>
</div> -->

<div class="box-mt-5">
    <div class="my-2 w-25">
        <app-select style="max-width: 30%;" [Data]="Catgories" (Selected)="filter($event)" [title]="'Catgories'">
        </app-select>
    </div>

    <div class="row" *ngIf="!loading">
        <div *ngFor="let item of products">
            <app-product [data]="item" (item)="AddToCart($event)"></app-product>
        </div>
    </div>
    <div class="text-center w-100" *ngIf="loading">
        <spinner></spinner>
    </div>
</div>
