    .item-list ul li {
        border-bottom: 1px solid black;
        padding: 0 15px;
        margin: 18px -15px;
    }

    .item-list ul li:last-child {
        border-bottom: 0;
    }

    .theme-dark .recent-jobs-list ul li .item-content .item-inner svg path {
        fill: #fff;
    }
