<div class="container">
    <p>
        <mat-toolbar color="primary">
            <span> <h3>My Market</h3></span>
            <span class="example-spacer"></span>
            <span *ngIf="clciked()">UserName :{{ HeadName}}
      </span>
            <span class="example-spacer" *ngIf="clciked()"></span>
            <button *ngIf="clciked()" style="
          padding: 5px;
          border: 3px;
          background-color: #fff;
          border-radius: 50%;
        " mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="products" *ngIf="clciked()">
          <mat-icon>format_align_justify</mat-icon>
          <span>Products</span>
        </button>
                <button mat-menu-item routerLink="cart" *ngIf="clciked()">
          <mat-icon>shopping_cart</mat-icon>
          <span>Cart</span>
        </button>
                <button mat-menu-item routerLink="login" *ngIf="clciked()" (click)="clcikedOut()">
          <mat-icon>login</mat-icon>
          <span>Log Out</span>
        </button>
            </mat-menu>
        </mat-toolbar>
    </p>
</div>
<!--
<nav>
    <div class="container">
        <div class="content">
            <h3 class="logo" routerLink="">Market</h3>
            <ul>
                <li *ngIf="clciked()">
                    UserName :
                    <Span style="color: rgb(245, 76, 76); font-weight: 500"></Span>
                </li>
                <li routerLink="products" *ngIf="clciked()">Products</li>
                <li routerLink="cart" *ngIf="clciked()">Cart</li>

                <li routerLink="/login" *ngIf="!clciked()">Login</li>
                <li routerLink="/login" *ngIf="clciked()" (click)="clcikedOut()" >
                    Log Out
                </li>

  </ul>
        </div>
    </div>
</nav>
<nav>
    <ul>
        <li routerLink="products" *ngIf="clciked()">
            <a class="active" href="#">Home</a>
        </li>
        <li routerLink="cart" *ngIf="clciked()"><a href="">Cart</a></li>
        <li routerLink="/login" *ngIf="!clciked()"><a href="#">Login</a></li>
        <li routerLink="products" *ngIf="clciked()"><a href="#">Log out</a></li>
    </ul>
    <div class="form">
        <i class="fas fa-search"></i>
    </div>
</nav> -->